/* botao de login*/
.tam-btn {
    width: 100%;
    background-color: #FF914C;
}
/* centralizando texto de cabeçalho*/
.titulo{
    text-align: center;
    padding-top: 20px; 
    margin-bottom: -10px;
}
a:link { 
    text-decoration:none; 
} 
#slide-out{
    border-left-width: 30px
}
/* icones do login */
.inline-icon{
    margin-top: 11px;
    width: auto;
    
}



/* linha de login*/
.line-log {
    padding-right: 0px;
    
}

img {
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
}

  


/*cores da pag*/

.cor1 {background-color: #2E2E2E !important}
.cor2 {background-color: #808080 !important}
.C2C2C2 {background-color: #C2C2C2 !important}
.DDDDDD {background-color: #DDDDDD !important}
.FEFEFE {background-color: #FEFEFE !important}